$color-beige: #F7EDE4;
$color-total-black: #000000;
$color-black: #2C2C2C;
$color-white: #FDFBF9;


$breakpoint-xs: 360px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1920px;